.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 12px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  margin: auto;
  padding: 25px;
}

.lookup{
  margin: auto;
  padding: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  background-color: blue;
  border: 2px solid #00B4CC;
  border-radius: 50%;
  color: #fff;
  width: 18px;
  font-weight: bold;
  text-align:center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  font-weight: normal;
  text-align: left;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.card_container {
  text-align: center;
  width: 290px;
  height: 412px;
  font-weight: bold;
  display: inline-block;
  padding: 4px;
}
img {
  width: 287px;
  height: 400px;
}